<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form (ngSubmit)="onSignIn(siForm)" #siForm="ngForm">
      <div class="form-group">
        <label for="mail">Mail</label>
        <input type="email" id="mail" name="email" class="form-control" style="max-width: 25%" ngModel>
      </div>
      <div class="form-group">
        <label for="pass">Password</label>
        <input type="password" id="pass" name="password" class="form-control" style="max-width: 25%" ngModel>
      </div>
      <button class="btn btn-primary" type="submit">Login</button>
    </form>
  </div>
</div>
